header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  border-radius: 10px;
  padding: 70px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/vegtableheader.jpg");
  margin-top: 40px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 96px;
  color: rgb(255, 255, 255);
  font-style: normal;
}
h1 {
  font-size: 96px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: bolder;

  color: rgb(255, 255, 255);
  font-style: normal;
}
p {
  font-family: "Roboto Slab", serif;
  color: white;
  font-weight: 500;
  font-size: 15px;
  font-style: normal;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
footer {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 10px;
  padding: 20px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("images/dinnertable.jpg");
  font-family: "Roboto Slab", serif;
  color: rgb(237, 237, 243);
  font-weight: 400;
  font-style: normal;
}
.w3-button {
  margin-top: 20px;
}
@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 38px;
  }

  header h2 {
    font-size: 20px;
  }
}
