body {
  font-family: "Roboto Slab", serif;
  background: #272044;
}
header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  border-radius: 10px;
  padding: 30px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/vegtableheader.jpg");
  margin-top: 32px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  background-color: #47e2a9;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
main {
  background-color: white;
}
header h1 {
  font-size: 50px;
  font-optical-sizing: auto;
  font-weight: 300;
  letter-spacing: 5px;
  color: white;
  font-style: normal;
}
header h2 {
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 32px;
  color: white;
  letter-spacing: 3px;
  font-style: normal;
}
header h3,
main h3 {
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 30px;
}
header h4 {
  color: white;

  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 5px;
}
main h4 {
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0.7;
  letter-spacing: 4px;
}
.pesto-pasta {
  margin-top: 18px;
  width: 100%;
  border-radius: 10px;
}
.grid-2-columns {
  display: grid;
  grid-gap: 40px;

  grid-template-columns: 2fr 2fr;
}
p {
  line-height: 1.8;

  font-size: 15px;
  color: rgb(102, 101, 101);
}
section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}
li {
  list-style: none;
}
a {
  color: white;
  opacity: 0.7;
  line-height: 25px;
}

.grid {
  display: grid;
  padding-left: 70px;
  grid-gap: 12px;
  grid-template-columns: 1fr 1fr 1fr;
}
footer {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 30px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("images/dinnertable.jpg");

  color: rgb(204, 200, 200);
  font-weight: 400;
  font-style: normal;
}
foooter li {
  margin: 0;
  padding: 0;
}
i {
  padding-left: 25px;

  opacity: 0.7;
}

.my-info {
  padding-left: 20px;
}
@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 38px;
  }

  header h2 {
    font-size: 20px;
  }
  .grid,
  .grid-2-columns {
    grid-template-columns: 1fr;
    grid-gap: 19px;
  }
}
