header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  border-radius: 10px;
  padding: 30px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/vegtableheader.jpg");
  margin-top: 32px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
h3 {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 30px;
  margin-left: 14px;
}
.button {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
h2 {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 32px;
  color: white;
  letter-spacing: 3px;
  font-style: normal;
}
h4 {
  color: white;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 3px;
}
h1 {
  font-size: 50px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  letter-spacing: 3px;
  color: white;
  font-style: normal;
}
.pesto-pasta {
  max-width: 400px;
  border-radius: 10px;
}
.grid-2-columns {
  display: grid;
  margin-top: 40px;
  grid-template-columns: 2fr 2fr;
}
p {
  line-height: 1.8;
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  color: rgb(102, 101, 101);
}
section {
  margin: 0 auto;
  padding: 8px 0;
}
li {
  list-style: none;
}
a {
  color: white;
  opacity: 0.8;
  line-height: 25px;
}

.grid {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr 1fr 1fr;
}
footer {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 30px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.72)),
    url("images/dinnertable.jpg");
  font-family: "Roboto Slab", serif;
  color: rgb(243, 243, 243);
  font-weight: 400;
  font-style: normal;
}
foooter li {
  margin: 0;
  padding: 0;
  opacity: 0.7;
}
i {
  padding-left: 25px;

  opacity: 0.7;
}

.link {
  color: rgb(204, 200, 200);
  font-weight: 100;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.about-paragraph {
  color: rgb(204, 200, 200);
}
@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 38px;
  }

  header h2 {
    font-size: 20px;
  }
  .grid,
  .grid-2-columns {
    grid-template-columns: 1fr;
    grid-gap: 19px;
  }
}
